
.headerlogo { 	float:left; width: 40px; margin:12px 0px 0px 0px ;padding:0px 0px 0px 5px; 
				height: 70px; }

.headertext { 	float:left;width:20%; margin:10px 0px 5px 0px ;padding:0px 0px 0px 0px;
				font-size: 15pt;}

.searchpreference { height:50px;  float:left;}

.search_inputbox { width:72%;float:left; padding-top:2px;}

.search_buttongroup { width:26%;float:left;padding-left:2%;}

.searchresultcount { border-left: 17px solid red; font-size:11pt; clear:both;
    				 padding: 1px 0px 0px 10px ; margin: 0px 5px 3px 0px; }

.recommendation_table { clear:both; margin-left:10px;  }

.recommendation_item { 	border-bottom: 1px dotted green; border-left: 4px solid green;
    					padding-left: 5px; }

.chatmessage { height:70px;  float:left; } 

.loading {
	float:right; 
	background:url(../images/ajax-loader.gif) no-repeat 1px; 
	height:28px; 
	width:28px; 
	display:none;
}

.oldchatmessage {
	float:left; 
	height: 30px;
	border : 1px solid red;
}


.newchatmessage {
	display:none;
	height: 30px;
	
	border : 2px solid black;
}
